@model GlobalCityManager.Models.Country

@{
    Layout = null;
}

<h2>Create Country</h2>

@using (Html.BeginForm(FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(x => x.Code) @Html.TextBoxFor(x => x.Code) <br />
    @Html.LabelFor(x => x.Name) @Html.TextBoxFor(x => x.Name) <br />
    @Html.LabelFor(x => x.Region) @Html.TextBoxFor(x => x.Region) <br />
    <input type="file" name="nationalFlagFile" value="Choose Flag" /> <br />
    <input type="submit" value="Submit" /> <br />
}

