@model GlobalCityManager.Models.Country


@{
    ViewData["Title"] = "Detail";
}

<h2>Details for @Model.Name</h2>

<div>
    @Html.DisplayNameFor(x => x.Code): @Html.DisplayTextFor(x => x.Code) <br />
    @Html.DisplayNameFor(x => x.Name): @Html.DisplayTextFor(x => x.Name) <br />
    @Html.DisplayNameFor(x => x.Region): @Html.DisplayTextFor(x => x.Region) <br />
</div>

<img src="\@Model.NationalFlag" />

<ul>
    @foreach (var city in Model.City)
    {
        <li>@Html.ActionLink(city.Name, "Detail", "City", new { cityId = city.Id })</li>
    }
</ul>

@Html.ActionLink("Edit this country", "Edit", new { code = Model.Code }) <br />

@if (Model.City.Count == 0)
{
    @using (Html.BeginForm("Remove", "Country", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Code)
        <input type="submit" value="Delete" />
    }
}
